<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.application.user.UserMapper">


    <select id="findAllLimitedId">



        SELECT u.user_id, u.pic, u.created_at, u.uid, u.nick_name,
        COUNT(DISTINCT f.feed_id) as feedCount, count(DISTINCT f.feed_id, fl.feed_id) AS allFeedLikeCount
        , count(DISTINCT fing.to_user_id)  AS followingCount
        ,count(DISTINCT fwer.from_user_id)  AS followerCount
        FROM user AS u
        LEFT JOIN feed AS f
        on u.user_id = f.writer_user_id

        LEFT JOIN feed_like AS fl
        on f.feed_id = fl.feed_id

        LEFT JOIN user_follow AS uf1
        ON u.user_id = fing.from_user_id

        LEFT JOIN user_follow AS uf2
        ON u.user_id = fwer.to_user_id

        WHERE u.user_id =${profileUserId};


<!--        -->
<!--        SELECT u.user_id, u.pic, u.created_at, u.uid, u.nick_name, count(DISTINCT f.feed_id) as feedCount, count(DISTINCT f.feed_id, fl.feed_id) AS allFeedLikeCount-->
<!--                -->
<!--        FROM user AS u-->
<!--        LEFT JOIN feed AS f-->
<!--            on u.user_id = f.writer_user_id-->

<!--        LEFT JOIN feed_like AS fl-->
<!--            on f.feed_id = fl.feed_id-->
<!--        WHERE u.user_id = ${profileUserId};-->


<!--        SELECT u.user_id, u.pic, u.created_at, u.uid, u.nick_name, count( f.feed_id)-->
<!--        ,sum((SELECT COUNT(feed_id) FROM feed_like WHERE feed_id = f.feed_id )) AS allFeedLikeCount-->
<!--        FROM user AS u-->
<!--        LEFT JOIN feed AS f-->
<!--        on u.user_id = f.writer_user_id-->
<!--        WHERE u.user_id = ${signedUserid};-->



        <!--        SELECT u.user_id, u.pic, u.created_at, u.uid, u.nick_name, count( f.feed_id) ,sum((SELECT COUNT(feed_id) FROM feed_like WHERE feed_id = f.feed_id )) AS USERcount-->
<!--        FROM user AS u-->
<!--        LEFT JOIN feed AS f-->
<!--        on u.user_id = f.writer_user_id-->
<!--        WHERE u.user_id = 1 ;-->


    </select>





</mapper>